body {
  background-color: #eff5f8
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
  font-style: italic;
  color: rgb(154, 150, 150);
}

h2:before {
  content: "";
  display: block;
  width: 60vw;
  height: 2px;
  background: rgb(110, 110, 110);
  left: 0;
  position: relative;
  
}

p {
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  font-weight: 10px;
}

#highScoresDiv{
  font-size: 30px;
  background: #cbbff4;
  margin: 5px 5px 10px 0;
  padding: 5px;
  width: 50vw;  
  white-space: pre-line;
}

#scorePage{
  font-size: 30px;
  padding: 0px;
  margin: 0px 5px 5px 5px;
}

#textboxid
{
    height: 35px;
    font-size:30px;
    margin: 10px 5px 10px 5px;
}

#highScores{
  color:#5e027a;
  float: left;
}

#countDown{
  float: right;
}
button {
  padding: 5px 12px 5px 12px;
  margin: 5px;
  cursor: pointer;
  font-size: 24px;
  background-color: #240c78;
  border-radius: 8px;
  color: white;
  border-color: #240c78;
  text-align: left;
}


button:hover{
  background-color: #5e027a;  
}

.container {
  
  margin: 100px auto;
  width: 60vw;  
  text-align: center;
}
.card-contents {
  padding: 5px 5px 10px 5px;
}

.button-container {
  width: max-content;
}
.wrapper {
  margin: 10px 0px 0px;
}